body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.6;
color: black;
background-color: #f9f9f9;
padding: 20px;
}
header {
text-align: center;
margin:1%;
padding: 10px;;
border-bottom: 1px solid #95a5a6;
}
.container{
max-width: 800px;
margin: auto;
padding: 20px;
grid-template-columns: auto;
}
 button {
            background-color: #3498db;
            color: white;
            border: none;
            padding: 0.75rem 1.5rem;
            font-size: 1rem;
            border-radius: 4px;
            cursor: pointer;
        }
        
        button:hover {
            background-color: #2980b9;
        }

 button.remove{
background-color: red;
padding: 5px 10px
}

select, input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
}